<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

        <link rel="stylesheet" href="/web/bootstrap.min.css">
        <link rel="stylesheet" href="/web/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/web/theme.css">

{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                 <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="/">Wiki</a></li>
                    <li><a class="navbar-brand" href="/subtask">Sub-test 2.0</a></li>
                </ul>
              </div>
            </div>
          </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
