{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="page-header">
            <h1> {{ title }}</h1>
        </div>
        
    </div>
    
    <form role="form" method="post" {{ form_enctype(form) }}>
        <div class="form-group">
            {{ form_widget(form) }}
        </div>
       

       <input class="btn btn-success" type="submit" value="Сохранить" />
   </form>
  
    
{% endblock %}

