{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="page-header">
            <h1> Вы действительно хотите удалить {{ item.Title }} ?</h1>
        </div>
    </div>

    <p>
        <a class="btn btn-lg btn-danger" href="{{ base_url }}/{{ item.Path }}/delete?confirm=1">Удалить</a>
        <a class="btn btn-lg btn-default" href="{{ base_url }}/{{ item.Path }}">Отмена</a>
    </p>
{% endblock %}
