{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1> {{ current_item.Title }}</h1>

        {% if current_item.is_root != true %}
            {% set base_url_current_item = base_url ~ '/' ~ current_item.Path %}
        {% else %}
            {% set base_url_current_item = base_url %}
        {% endif %}

        <a class="btn btn-primary" href="{{ base_url_current_item }}/add">Создать</a>
        <a class="btn btn-success" href="{{ base_url_current_item }}/edit">Редактировать</a>
        {% if current_item.is_root != true %}
        <a class="btn btn-danger" href="{{ base_url_current_item }}/delete">Удалить</a>
        {% endif %}
    </div>
        
    {% if current_item.parent != null %}
    <p><a class="btn btn-sm btn-info" href="{{ base_url }}/{{ current_item.parent.Path }}">
            ← {{ current_item.parent.Title }}</a> 
    </p>
    {% endif %}  
    
    <div class="row show-grid">
        <div class="col-md-8">
            <div class="jumbotron">
               {{ current_item.Text | raw}}
            </div>
        </div>
        <div class="col-md-4">
            <ul class="list-group">
               {% for item in current_item.children %}
                   <li class="list-group-item"> 
                       <a href="{{ base_url }}/{{ item.Path }}">{{ item.Title }}</a> 
                   </li>
               {% endfor %}
           </ul>
        </div>    
    </div>
{% endblock %}
