{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Sub-test 2.0</h1>

       <form role="form" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                {{ form_widget(form) }}
            </div>
       

        <input class="btn btn-success" type="submit" value="Отправить" />
        </form>
            
        
    </div>
    <p>{{ result }}</p>
{% endblock %}